<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645325700593-sbi9tl8q9p81ipmp6olpkrvedbap6n7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645325700593-sbi9tl8q9p81ipmp6olpkrvedbap6n7e</string>
	<key>API_KEY</key>
	<string>AIzaSyBlDhyNeQBOs7ytsZJQTvIVTP18zt98Y_4</string>
	<key>GCM_SENDER_ID</key>
	<string>645325700593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ez2gether</string>
	<key>PROJECT_ID</key>
	<string>ez2gether-58514</string>
	<key>STORAGE_BUCKET</key>
	<string>ez2gether-58514.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645325700593:ios:2a0d10e41b67e7f7339850</string>
</dict>
</plist>